body{
	font-size: 16px;
	background-color: #441226e8;
	color:black;
    /*font-family: 'Roboto', sans-serif;*/
	font-family: 'PT Sans', sans-serif;
	
	font-weight: 700;
}
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;   
}


.navbar-light .navbar-nav .nav-link {
    color:#121644e8;
    font-size: 1.3em;
}

#logo-img{
	background: url('../images/logo3.png')no-repeat;
	width:50px;
	height:50px;
	/*margin:10px 10px 10px 0;*/
	overflow:hidden;
	background-size:cover;
	background-position: left;
	
}

.navbar-brand{
	height:50px;
}

.navbar-brand h1{
	color:#121644e8;
	font-family: 'Piedra', cursive;
	/*color:#557c3e;*/
	/*ont-family:Helvetica;*/
	font-size:1.7em;
	/*font-weight:bold;*/
	/*text-shadow: 1px 1px 1px #222;*/
	margin-top:0;
	margin-bottom:0;
	line-height:1.25em;
	margin-left:15px;
	
}

.navbar-brand p{
	color:#000;
	font-size:.7em;
	margin-top:15px;
}
.navbar-brand p span{
	vertical-align:middle;
}

.custom-toggler.navbar-toggler{
	border-color:#121644e8;
}
/*.custom-toggler.navbar-toggler-icon {
background-image: url(“data:image/svg+xml;charset=utf8, %3Csvg viewBox=’0 0 32 32′ xmlns=’http://www.w3.org/2000/svg’%3E%3Cpath stroke=’rgba(18, 22, 68, 0.91)’ stroke-width=’2′ stroke-linecap=’round’ stroke-miterlimit=’10’ d=’M4 8h24M4 16h24M4 24h24’/%3E%3C/svg%3E”);
}
*/	


.dark_line{
	height:5px;
	background-color: #121644e8;
}



.jumbotron{
	padding:0;
	box-shadow: 0 0 70px #3F0C1F;
	border:2px solid #3F0C1F;
	border-radius:20%;

}
#farm, #sossusvlei,#map-tile{
	height:250px;
	width:100%;
	margin-bottom: 15px;
	position:relative;
	
	overflow:hidden;
	box-shadow: 0 0 50px #3F0C1F;
		border:2px solid #3F0C1F;

}
#farm:hover, #sossusvlei:hover,#map-tile:hover{
	box-shadow: 0 1px 5px 1px #3F0C1F;
}
#farm{
	background:url('../images/farm1.jpg') no-repeat;
	background-position: center;
	overflow:hidden;
	background-size:cover;
	
}

#sossusvlei{
	background:url('../images/sossusvlei.jpg') no-repeat;
	background-position: center;
	overflow:hidden;
	background-size:cover;
	
}

#map-tile{
	background:url('../images/sossusvlei.jpg') no-repeat;
	background-position: center;
	overflow:hidden;
	background-size:cover;}


#farm span, #sossusvlei span,#map-tile span{
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
	text-align: center;
	font-size: 1.5em;
	font-weight: normal;
	
	background-color: #000;
	color:#fff;
	opacity:.6;
}


@media (min-width:1200px){
	
}

@media (min-width:992px) and (max-width:1199px){
	#logo-img{background: url('/images/logo3.png')no-repeat;
		width:50px;
		height:50px;
		/*margin:10px 10px 10px 0;*/
		overflow:hidden;
		background-size:cover;
		background-position: left;
		}
	
}

@media (min-width:768px) and (max-width:991px){
	
}


@media (max-width:479px) {

	#sossusvlei, #farm,#map-tile{
		width:280px;
		margin:0 auto 15px;
	}
}